#carousel {
  display: flex;
  justify-content: center;
}

.viewer-forms {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 25px 75px;
}

.title-bar img {
  max-width: -webkit-fill-available;
}
